@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400&family=Roboto+Slab&display=swap");
/* font-family: 'Poppins', sans-serif;
font-family: 'Roboto Slab', serif; */
* {
  box-sizing: border-box; }

html {
  box-sizing: border-box;
  font-size: 62.5%;
  scroll-behavior: smooth; }

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  font-size: 1.9rem;
  font-family: "Poppins", sans-serif; }

hr {
  margin: 2rem; }

.hr-weird {
  width: 20rem; }

.navigator {
  background-color: #2c2b2b;
  padding: 0.5rem 0;
  text-align: center;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  position: fixed;
  top: 0;
  transition: top 0.5s ease-in-out;
  z-index: 100; }
  .navigator__logo {
    height: 6rem; }
  .navigator__link {
    color: #fff;
    margin: 0 1rem;
    text-decoration: none; }

.footer-nav__wrap-icon {
  height: 3rem;
  margin: 1rem 2rem;
  fill: white; }

.footer-nav__wrap-icon:hover {
  transition: all 0.3s ease-in-out;
  transform: scale(1.1); }

.scrolling-box {
  display: block;
  overflow-y: scroll;
  text-align: center;
  width: 100%;
  flex: 1 0 100%; }
  .scrolling-box__section {
    display: flex;
    align-items: center;
    justify-content: center;
    overflow-y: scroll;
    min-height: 80vh;
    padding: 8.5rem; }

.home {
  background-image: url(../img/about.png);
  background-size: 100%;
  background-position: left;
  background-repeat: no-repeat;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
  color: #1a1a1a;
  min-height: 95vh; }
  .home__photo {
    height: 50vh; }
  .home__mai {
    text-align: left;
    margin: 5rem; }
    .home__mai-name {
      font-size: 6rem;
      text-transform: uppercase; }
    .home__mai-location {
      display: flex;
      align-items: center; }
      .home__mai-location-icon {
        height: 3rem; }

.about {
  background-color: #ececeb;
  min-height: 85vh;
  padding: auto 5vh; }
  .about__mai {
    padding: 2vh;
    margin: 2vh;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap; }
  .about__mai-story {
    text-align: left; }

.projects {
  background-color: #464545;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: stretch;
  align-content: space-around;
  flex-direction: row;
  min-height: 100vh;
  color: #e5e2e2;
  border: #222222; }
  .projects__card {
    display: flex;
    flex-wrap: wrap;
    padding: 1rem;
    justify-content: space-around;
    align-content: center;
    align-items: center;
    flex-direction: column;
    flex: 0 1 46%;
    max-width: 100%;
    border: 2px solid rgba(255, 255, 255, 0.212);
    border-radius: 2%;
    margin: 2rem;
    padding: 2rem 2rem;
    background-color: #e9e6e6;
    color: #242424;
    transition: all 0.5s ease-in-out; }
    .projects__card-title {
      font-weight: 800;
      font-size: 2.5rem;
      color: #a85e0a; }
    .projects__card-pho {
      width: 98%;
      height: 30rem;
      transition: all 0.5s;
      overflow: hidden; }
      .projects__card-photo {
        height: 100%;
        width: 100%;
        background-size: cover;
        background-repeat: no-repeat;
        -webkit-transition: all 0.5s ease-in-out;
        -moz-transition: all 0.5s ease-in-out;
        -o-transition: all 0.5s ease-in-out;
        transition: all 0.5s ease-in-out;
        background-position: center; }
        .projects__card-photo-1 {
          background-image: url("../img/furnique-2.png"); }
        .projects__card-photo-2 {
          background-image: url("../img/foodhub.png"); }
        .projects__card-photo-3 {
          background-image: url("../img/i-feel-like.png"); }
        .projects__card-photo-4 {
          background-image: url("../img/tic-tac-toe.png"); }
        .projects__card-photo-link {
          display: none;
          font-size: 35px;
          color: #ffffff;
          text-align: center;
          margin: auto;
          position: absolute;
          top: 0;
          left: 0;
          bottom: 0;
          right: 0;
          height: 50px;
          cursor: pointer;
          text-decoration: none; }
      .projects__card-photo:hover {
        transform: scale(1.1); }
      .projects__card-photo:hover a,
      .projects__card-photo:focus a {
        display: block; }
      .projects__card-photo:before {
        content: "";
        display: none;
        height: 100%;
        width: 100%;
        position: absolute;
        top: 0;
        left: 0;
        background-color: rgba(49, 41, 41, 0.911); }
    .projects__card-pho:hover .projects__card-photo:before,
    .projects__card-pho:focus .projects__card-photo:before {
      display: block; }
  .projects__btn {
    display: flex;
    align-content: space-around;
    justify-content: space-around;
    flex-direction: row;
    align-items: center;
    margin: 0.5rem; }
  .projects__btn-demo {
    border-radius: 5rem;
    padding: 1rem 1.5rem;
    background-color: #fd8412;
    color: white;
    border: none;
    margin: 0.5rem; }
  .projects__btn-demo:hover {
    transition: all 0.3s ease-in-out;
    background-color: #ffa41c; }
  .projects__btn-git {
    border-radius: 5rem;
    padding: 1rem 1.5rem;
    background-color: #363333;
    color: white;
    border: none;
    margin: 0.5rem; }
  .projects__btn-git:hover {
    transition: all 0.3s ease-in-out;
    background-color: #474545; }
  .projects__description {
    text-align: left;
    margin-top: 0;
    padding-top: 0;
    min-height: 25rem; }

#recent_project {
  width: 100vh; }

.technologies {
  background-color: #fffdfd;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap; }
  .technologies__title {
    text-transform: uppercase;
    font-size: 4rem;
    margin: 2rem; }
  .technologies__icon {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 70%; }
    .technologies__icon-tech {
      height: 5rem;
      width: 12rem;
      margin: 1rem;
      flex: 1 1 20%; }
    .technologies__icon-tool {
      height: 5rem;
      width: 12rem;
      margin: 1rem;
      flex: 0 1 20%;
      justify-self: center; }

.footer {
  height: 20vh;
  width: 100%;
  background-color: #d8a5a5;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex: 1 1 20%; }
  .footer__text {
    width: 100vh;
    text-align: center; }
  .footer__contact {
    width: 100%; }
  .footer__wrap {
    display: flex; }
    .footer__wrap-icon {
      height: 5rem;
      margin: 2rem 5rem; }
    .footer__wrap-icon:hover {
      transition: 0.3s;
      transform: scale(1.1); }

.person {
  align-items: center;
  display: flex;
  flex-direction: column;
  width: 280px; }

.container-pic {
  border-radius: 50%;
  height: 312px;
  -webkit-tap-highlight-color: transparent;
  transform: scale(0.9);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  width: 400px; }

.container-pic:after {
  content: "";
  height: 10px;
  position: absolute;
  top: 390px;
  width: 100%; }

.container-pic:hover {
  transform: scale(1); }

.container-inner {
  clip-path: path("M 390,400 C 390,504.9341 304.9341,590 200,590 95.065898,590 10,504.9341 10,400 V 10 H 200 390 Z");
  position: relative;
  transform-origin: 50%;
  top: -200px; }

.circle {
  background-color: #fee7d3;
  border-radius: 50%;
  cursor: pointer;
  height: 430px;
  left: 10px;
  pointer-events: none;
  position: absolute;
  top: 210px;
  width: 380px; }

.img {
  pointer-events: none;
  position: relative;
  transform: translateY(20px) scale(1.15);
  transform-origin: 50% bottom;
  transition: transform 300ms cubic-bezier(0.4, 0, 0.2, 1); }

.container-pic:hover .img {
  transform: translateY(0) scale(1.2); }

.img1 {
  top: 164px;
  width: 450px; }
