@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400&family=Roboto+Slab&display=swap");
@import url("https://fonts.googleapis.com/css2?family=PT+Serif:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Amatic+SC:wght@700&family=Cabin+Sketch:wght@700&family=Indie+Flower&family=Raleway&family=Sacramento&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Girassol&display=swap");
.about {
  background-color: #3bab87;
  min-height: 50vh;
  padding: auto 5vh;
  color: white;
  transition: color 1s ease-in-out; }
  .about:hover .about__mai-story {
    padding: 0.3vh;
    transition: all 0.3s ease-in-out; }
  .about__mai {
    padding: 10%;
    margin: 2vh;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center; }
  .about__mai-story {
    text-align: left;
    transition: all 0.3s ease-in-out; }

.person {
  align-items: center;
  display: flex;
  flex-direction: column;
  width: 280px; }

.container-pic {
  border-radius: 50%;
  height: 312px;
  -webkit-tap-highlight-color: transparent;
  transform: scale(0.7);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  width: 400px; }

.container-pic:after {
  content: "";
  height: 10px;
  position: absolute;
  top: 390px;
  width: 100%; }

.container-pic:hover {
  transform: scale(0.8); }

.container-inner {
  clip-path: path("M 390,400 C 390,504.9341 304.9341,590 200,590 95.065898,590 10,504.9341 10,400 V 10 H 200 390 Z");
  position: relative;
  transform-origin: 50%;
  top: -200px; }

.circle {
  background-color: #fee7d3;
  border-radius: 50%;
  cursor: pointer;
  height: 430px;
  left: 10px;
  pointer-events: none;
  position: absolute;
  top: 210px;
  width: 380px; }

.img {
  pointer-events: none;
  position: relative;
  transform: translateY(20px) scale(1.1);
  transform-origin: 50% bottom;
  transition: transform 300ms cubic-bezier(0.4, 0, 0.2, 1); }

.container-pic:hover .img {
  transform: translateY(0) scale(1.1); }

.img1 {
  top: 164px;
  width: 450px; }

.projects__cards {
  display: grid;
  width: 100%;
  grid-template-rows: minmax(min-content, max-content) minmax(min-content, max-content) minmax(min-content, max-content) !important;
  grid-template-columns: repeat(auto-fill, minmax(50vh, 1fr));
  grid-auto-rows: minmax(60vh, 1fr);
  transition: all 0.3s ease-in-out;
  grid-gap: 1vh; }
  .projects__cards p {
    margin: 0; }
  .projects__cards-all {
    transition: all 0.5s ease-in-out;
    padding: 4vh 0;
    display: flex;
    flex-direction: column;
    align-items: center; }
  .projects__cards-all:hover .projects__description,
  .projects__cards-all:hover .projects__cards-pho,
  .projects__cards-all:hover .projects__cards-title {
    transform: scale(1.05); }
  .projects__cards-1 {
    background-color: #e8c3b9; }
  .projects__cards-2 {
    background-color: #224a54;
    color: #e9e9e9; }
  .projects__cards-3 {
    background-color: #292929;
    color: #e9e9e9; }
  .projects__cards-4 {
    background-color: #f3e9c6; }
  .projects__cards-5 {
    background-color: #8683af;
    grid-row: 2/3;
    grid-column: 1/-1; }
  .projects__cards-title {
    font-weight: 800;
    font-size: 4rem !important;
    padding: 0;
    margin: 0;
    margin-top: 2vh !important;
    transition: all 0.5s ease-in-out; }
    .projects__cards-title-1 {
      font-family: "Girassol", cursive; }
    .projects__cards-title-2 {
      font-family: "Indie Flower", cursive; }
    .projects__cards-title-3 {
      font-family: "Sacramento", cursive; }
    .projects__cards-title-4 {
      font-family: "Cabin Sketch", cursive; }
    .projects__cards-title-5 {
      font-family: "Amatic SC", cursive; }
  .projects__cards-pho {
    width: 78%;
    height: 30vh;
    transition: all 0.5s;
    overflow: hidden; }
    .projects__cards-photo {
      height: 100%;
      width: 100%;
      background-size: cover;
      background-repeat: no-repeat;
      -webkit-transition: all 0.5s ease-in-out;
      -moz-transition: all 0.5s ease-in-out;
      -o-transition: all 0.5s ease-in-out;
      transition: all 0.5s ease-in-out;
      background-position: center; }
      .projects__cards-photo-1 {
        background-image: url("../img/furnique-2.png"); }
      .projects__cards-photo-2 {
        background-image: url("../img/foodhub.png"); }
      .projects__cards-photo-3 {
        background-image: url("../img/i-feel-like.png"); }
      .projects__cards-photo-4 {
        background-image: url("../img/tic-tac-toe.png"); }
      .projects__cards-photo-5 {
        background-image: url("../img/molenir2.png"); }
      .projects__cards-photo-link {
        font-size: 3rem !important;
        padding: 0 4vw !important;
        display: none;
        font-size: 35px;
        color: #ffffff;
        text-align: center;
        margin: auto;
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        height: 50px;
        cursor: pointer;
        text-decoration: none;
        transition: all 0.3s ease-in-out; }
      .projects__cards-photo-link:hover {
        transform: none !important; }
    .projects__cards-photo:hover {
      transform: scale(1.1); }
    .projects__cards-photo:hover a,
    .projects__cards-photo:focus a {
      display: block; }
    .projects__cards-photo:before {
      content: "";
      display: none;
      height: 100%;
      width: 100%;
      position: absolute;
      top: 0;
      left: 0;
      background-color: rgba(61, 61, 61, 0.911); }
  .projects__cards-pho:hover .projects__cards-photo:before,
  .projects__cards-pho:focus .projects__cards-photo:before {
    display: block; }

.projects__btn {
  display: flex;
  align-content: space-around;
  justify-content: space-around;
  flex-direction: row;
  align-items: center;
  margin: 0.5rem; }

.projects__btn-demo {
  border-radius: 5rem;
  padding: 1rem 1.5rem;
  background-color: #fd8412;
  color: white;
  border: none;
  margin: 0.5rem; }

.projects__btn-demo:hover {
  transition: all 0.3s ease-in-out;
  background-color: #ffa41c; }

.projects__btn-git {
  border-radius: 5rem;
  padding: 1rem 1.5rem;
  background-color: #363333;
  color: white;
  border: none;
  margin: 0.5rem; }

.projects__btn-git:hover {
  transition: all 0.3s ease-in-out;
  background-color: #474545; }

.projects__description {
  text-align: left;
  margin: 0;
  padding: 0 10%;
  text-align: center;
  transition: all 0.5s ease-in-out; }

.technologies {
  background-color: #b1d8e2;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center; }
  .technologies:hover .technologies__icon {
    transform: scale(1.1); }
  .technologies__icon {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 70%;
    padding: 10%;
    transition: all 0.5s ease-in-out; }
    .technologies__icon-tech {
      height: 5rem;
      width: 12rem;
      margin: 1rem;
      flex: 1 1 20%; }
    .technologies__icon-tool {
      height: 5rem;
      width: 12rem;
      margin: 1rem;
      flex: 0 1 20%;
      justify-self: center; }

/* font-family: 'Poppins', sans-serif;
font-family: 'Roboto Slab', serif; */
* {
  box-sizing: border-box; }

html {
  box-sizing: border-box;
  font-size: 62.5%;
  scroll-behavior: smooth;
  transition: all 0.5s ease-in-out; }

a {
  transition: all 0.3s ease-out; }

a:hover {
  transform: scale(1.2);
  transition: all 0.3s ease-out; }

.title-wrapper {
  position: relative;
  z-index: 10;
  margin: 15vh auto; }

.title {
  font-size: 10rem;
  color: black;
  font-weight: 800;
  font-family: "PT Serif";
  position: absolute;
  top: -9.3rem;
  left: 0;
  z-index: 50; }

section {
  padding-top: 2rem; }

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  font-size: 1.9rem;
  font-family: "Poppins", sans-serif;
  margin: 0 10vw;
  flex: 1 1 40%; }

hr {
  margin: 2rem; }

.hr-weird {
  width: 20rem; }

.navigator {
  background-color: #2c2b2b;
  padding: 0.5rem 0;
  text-align: center;
  width: 100vw;
  display: flex;
  flex: 1 1 100%;
  flex-wrap: wrap;
  align-content: center;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  position: fixed;
  top: 0;
  transition: all 0.5s ease-in-out;
  border-bottom: 2px solid whitesmoke;
  z-index: 100; }
  .navigator__logo {
    height: 6rem;
    transition: all 0.5s ease-in-out; }
  .navigator__link {
    color: #fff;
    margin: 0 1rem;
    text-decoration: none; }

.footer-nav__wrap-icon {
  height: 3rem;
  margin: 1rem 2rem;
  fill: white;
  transition: all 0.3s ease-in-out; }

.footer-nav__wrap-icon:hover {
  transition: all 0.3s ease-in-out;
  transform: scale(1.3); }

.home {
  background-image: url(../img/about.png);
  background-size: cover;
  background-position: left;
  background-repeat: no-repeat;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
  color: #1a1a1a;
  min-height: 95vh;
  padding: 4vw; }
  .home:hover .home__mai {
    transform: scale(1.08);
    transition: all 0.5s ease-in-out; }
  .home__photo {
    height: 50vh; }
  .home__mai {
    text-align: left;
    margin: 5rem;
    transition: all 0.5s ease-in-out; }
    .home__mai-name {
      font-size: 6rem;
      text-transform: uppercase; }
    .home__mai-location {
      display: flex;
      align-items: center; }
      .home__mai-location-icon {
        height: 3rem; }

.footer {
  width: 100%;
  background-color: #d87874;
  color: #fcf8f4;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex: 1 0 auto;
  margin: 1vh 10vw; }
  .footer__text {
    padding-top: 2vh;
    width: 100%;
    text-align: center; }
  .footer__contact {
    width: 100%; }
  .footer__wrap {
    display: flex; }
    .footer__wrap-icon {
      height: 5rem;
      margin: 2rem 5vw; }
    .footer__wrap-icon-mail:hover {
      transition: 0.3s;
      transform: scale(1.2); }

@media (min-width: 376px) and (max-width: 640px) {
  .home {
    padding-top: 15vh; }
    .home__mai-name {
      margin-top: 0;
      margin-bottom: 3vh; }
  .title {
    font-size: 8rem;
    top: -7.5rem;
    left: 2.5rem; }
  .navigator {
    width: 100%; }
  .projects__cards-all {
    padding: 0 10vw; }
  .projects__description p {
    text-align: left; } }

@media (max-width: 375px) {
  .container {
    font-size: 1.7rem;
    min-width: 0;
    min-height: 0;
    overflow: hidden;
    margin: 0 0.5vw; }
  .home {
    padding-top: 15vh; }
    .home__mai-name {
      margin-top: 0;
      margin-bottom: 3vh; }
  .title {
    font-size: 8rem;
    top: -7.5rem;
    left: 5.8rem; }
  .navigator {
    width: 100%; }
  .projects__cards-all {
    padding: 0 10vw; }
  .projects__description p {
    text-align: left; } }

@media (orientation: landscape) {
  .projects__cards {
    display: grid;
    width: 100%;
    grid-template-rows: repeat(2, minmax(60vh, 1fr));
    grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
    grid-auto-rows: minmax(60vh, 1fr);
    transition: all 0.3s ease-in-out; }
    .projects__cards-all {
      align-items: center; } }
