.home {
  background-color: #ffe6d6;
  // background-image: url(../img/about.png);
  // linear-gradient(rgba(121, 67, 82, 0.6));
  background-size: cover;
  // width: 100%;

  background-position: left;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;

  align-items: center;
  color: rgb(26, 26, 26);
  min-height: 100vh;
  // padding: 4vw;
  min-width: 0;
  overflow: hidden;

  .laptop-box {
    // opacity: 0;
    width: 90%;
    height: 40vw;
    min-width: 510px;
    display: flex;
    justify-content: center;
    align-items: center;

    .laptop {
      height: 100%;
    }
    .laptop-2 {
      height: 100%;
      position: relative;
      .smoke-1 {
        position: absolute;
        height: 10%;
        bottom: 9.5vw;
        right: 30%;
      }
      .smoke-2 {
        position: absolute;
        height: 10%;

        bottom: 9vw;
        right: 27%;
      }
      .smoke-3 {
        position: absolute;
        height: 10%;

        bottom: 9.5vw;
        right: 29%;
      }
    }
  }

  &__photo {
    height: 50vh;
  }

  &__mai {
    // margin: 3rem auto;
    margin-top: 10vh;
    margin-bottom: 2rem;
    transition: all 0.5s ease-in-out;
    // flex: 0 1 35vw;
    text-align: center;

    &-title {
      border-top: 2px solid black;
      padding-top: 3rem;
    }

    &-location {
      display: flex;
      justify-content: center;
      align-items: center;
      // left: -1rem;
      padding: 2rem;

      &-icon {
        height: 3rem;
      }

      &-sydney {
        margin: 0;
      }
    }
  }
}

.type-demo__wrapper {
  /*This part is important for centering*/
  display: flex;
  align-items: center;
  justify-content: center;
  &-name {
    width: 10ch;
    animation: typing 2s steps(10), blink 0.5s step-end infinite alternate;
    white-space: nowrap;
    overflow: hidden;
    border-right: 3px solid;
    font-family: monospace;
    font-size: 4rem;
    text-transform: uppercase;

    margin: 2rem;
  }
}

@keyframes typing {
  from {
    width: 0;
  }
}

@keyframes blink {
  50% {
    border-color: transparent;
  }
}

@media (min-width: 540px) {
  .home {
    min-height: 85vh;
    &__mai {
      margin-top: 8rem;
    }
  }
}

@media (min-width: 768px) {
  .home {
    display: flex;
    flex-direction: row;
    // width: 50%;
    width: 100%;

    &__mai {
      width: 40%;
      max-width: 40rem;
    }

    .laptop-box {
      width: 50%;
      height: 35vw;
      .laptop-2 {
        .smoke-1 {
          position: absolute;
          height: 10%;
          bottom: 8vw;
          right: 30%;
        }
        .smoke-2 {
          position: absolute;
          height: 10%;

          bottom: 8.5vw;
          right: 27%;
        }
        .smoke-3 {
          position: absolute;
          height: 10%;

          bottom: 7.8vw;
          right: 29%;
        }
      }
    }
  }
}

@media (min-width: 1024px) {
  .home {
    &__mai {
      width: 40%;
      max-width: 50rem;
    }

    .laptop-box {
      height: 30vw;
      .laptop-2 {
        .smoke-1 {
          position: absolute;
          height: 10%;
          bottom: 6.5vw;
          right: 30%;
        }
        .smoke-2 {
          position: absolute;
          height: 10%;

          bottom: 7vw;
          right: 27%;
        }
        .smoke-3 {
          position: absolute;
          height: 10%;

          bottom: 7.5vw;
          right: 29%;
        }
      }
    }
  }
}

@media (min-width: 1200px) {
  .home {
    min-height: 95vh;
    &__mai {
      width: 40%;
      max-width: 50rem;
    }

    .laptop-box {
      height: 23vw;
      .laptop-2 {
        .smoke-1 {
          position: absolute;
          height: 10%;
          bottom: 5vw;
          right: 30%;
        }
        .smoke-2 {
          position: absolute;
          height: 10%;

          bottom: 5.5vw;
          right: 27%;
        }
        .smoke-3 {
          position: absolute;
          height: 10%;

          bottom: 6vw;
          right: 29%;
        }
      }
    }
  }
}
