.projects {
  &__cards {
    &-all {
      min-width: 40vw;
      min-height: 0;
      // overflow: hidden;
      // transition: all 0.3s ease-in-out;
      padding: 4vh 0;

      display: flex;
      flex-direction: column;
      align-items: center;
      // justify-content: stretch;

      box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2),
        0 6px 20px 0 rgba(0, 0, 0, 0.19);
    }

    &-0 {
      background-color: #536e97;
      color: white;
    }

    &-1 {
      background-color: #ffe6d6;
    }

    &-2 {
      background-color: #fff3ce;
    }

    &-3 {
      background-color: #224a54;
      color: rgb(233, 233, 233);
    }

    &-4 {
      background-color: #292929;
      color: rgb(233, 233, 233);
    }

    &-5 {
      background-color: #ffece3;
    }

    &-6 {
      background-color: rgb(134, 131, 175);
    }

    &-title {
      font-weight: 800;
      font-size: 4rem !important;
      padding: 0;
      margin: 0;
      margin-top: 2vh !important;
      transition: all 0.5s ease-in-out;

      opacity: 0;

      &-0 {
        font-family: "DM Sans", sans-serif;
      }

      &-1 {
        font-family: "Girassol", cursive;
      }

      &-2 {
        font-family: "Lato", cursive;
      }

      &-3 {
        font-family: "Indie Flower", cursive;
      }

      &-4 {
        font-family: "Sacramento", cursive;
      }

      &-5 {
        font-family: "Cabin Sketch", cursive;
      }

      &-6 {
        font-family: "Amatic SC", cursive;
      }
    }

    // reference https://css-tricks.com/zooming-background-images/
    &-pho {
      width: 78%;
      height: 30vh;
      transition: all 0.5s;
      // to hide the edge
      overflow: hidden;

      position: relative;

      &to {
        height: 100%;
        width: 100%;
        background-size: cover;
        background-repeat: no-repeat;
        -webkit-transition: all 0.5s ease-in-out;
        -moz-transition: all 0.5s ease-in-out;
        -o-transition: all 0.5s ease-in-out;
        transition: all 0.5s ease-in-out;
        background-position: top;

        // avoid the ugly zoom in/out
        backface-visibility: hidden;

        &-0 {
          background-image: url("../img/vue-spotify.png");
        }

        &-1 {
          background-image: url("../img/furnique-2.png");
        }

        &-2 {
          background-image: url("../img/tax-calco.png");
        }

        &-3 {
          background-image: url("../img/foodhub.png");
        }

        &-4 {
          background-image: url("../img/i-feel-like.png");
        }

        &-5 {
          background-image: url("../img/tic-tac-toe.png");
        }

        &-6 {
          background-image: url("../img/molenir2.png");
        }

        &-link {
          font-size: 3rem !important;
          padding: 0 4vw !important;
          opacity: 0;
          font-size: 35px;

          background-color: aqua;

          -webkit-background-clip: text;
          color: transparent;
          text-align: center;
          margin: auto;
          position: absolute;
          top: 0;
          left: 0;
          bottom: 0;
          right: 0;
          height: 50px;
          cursor: pointer;
          text-decoration: none;
          transition: all 0.3s ease-in-out;
        }
      }
    }
  }

  &__btn {
    display: flex;
    align-content: space-around;
    justify-content: space-around;
    flex-direction: row;
    align-items: center;
    margin: 0.5rem;
  }

  &__btn-demo {
    background: linear-gradient(
      145deg,
      rgb(253, 132, 18) 35%,
      rgb(255, 192, 97) 50%,
      rgb(255, 192, 97) 55%,
      rgb(253, 132, 18) 70%
    );
    color: white;
    border: none;
    margin: 0.5rem;
    font-size: 1.2rem;
    text-align: center;
  }

  &__btn-hi {
    background: linear-gradient(
      145deg,
      #ffc911 35%,
      #ffdc42 50%,
      #ffdc42 55%,
      #ffc911 70%
    );

    color: rgb(35, 43, 65);
    font-size: 1.8rem;
    border: none;
    margin: 0.5rem;
  }

  &__btn-git {
    background: linear-gradient(
      145deg,
      rgb(54, 51, 51) 35%,
      rgb(85, 85, 85) 50%,
      rgb(85, 85, 85) 55%,
      rgb(54, 51, 51) 70%
    );

    color: white;
    border: none;
    margin: 0.5rem;
    font-size: 1.2rem;
    text-align: center;
  }

  &__btn-demo,
  &__btn-hi,
  &__btn-git {
    border-radius: 5rem;
    padding: 1rem 1.5rem;
    background-size: 240%;
    background-position: left;

    transition: all 0.3s ease-in-out;
  }

  &__description > p {
    text-align: justify;
    margin: 0;
    padding: 0 15%;
    // text-align: center;
    // min-height: 25rem;
    // transition: all 0.5s ease-in-out;
  }
}

// #recent_project {
//   width: 100vh;
// }

.center {
  text-align: center !important;
}

@media (min-width: 800px) {
  .projects {
    &__cards {
      &-pho {
        &to {
          &-link {
            animation: changeColor 3s linear infinite alternate backwards;
          }

          &-link:hover {
            transform: none !important;
          }
        }
        &to:hover {
          transform: scale(1.05);
        }

        &to:hover:before {
          opacity: 100%;
        }

        &to:hover a,
        &to:focus a {
          // display: block;
          opacity: 100%;
        }

        &to:before {
          content: "";
          // display: none;
          opacity: 0;
          height: 100%;
          width: 100%;
          position: absolute;
          top: 0;
          left: 0;
          background-color: rgba(61, 61, 61, 0.911);

          transition: all 0.2s ease-in-out;
        }
      }

      &-pho:hover .projects__cards-photo:before,
      &-pho:focus .projects__cards-photo:before {
        display: block;
      }
    }
    &__btn-demo:hover {
      // background-color: rgb(255, 164, 28);
      // background: linear-gradient(
      //   135deg,
      //   rgb(255, 164, 28),
      //   rgb(127, 236, 255)
      // );
      // background-position: right;
    }

    &__btn-demo:hover,
    &__btn-hi:hover,
    &__btn-git:hover {
      transform: none;
      transform: translateY(-3px);

      /* BOX SHADOW: offset-x | offset-y | blur-radius | spread-radius | color*/
      box-shadow: 0 3px 5px rgba(71, 71, 71, 0.192);
      background-position: right;
    }

    &__btn-demo:active,
    &__btn-hi:active,
    &__btn-git:active {
      transform: translateY(-1px);
    }

    &__btn-hi:hover {
      cursor: pointer;
      background-color: rgb(255, 187, 0);
    }

    &__btn-git:hover {
      background-color: rgb(61, 61, 61);
    }
  }
}

@media (min-width: 1024px) {
  .projects__cards {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, minmax(min-content, max-content));

    &-0 {
      grid-row: 1/2;
      grid-column: 1/-1;
    }

    .big {
      width: 40%;
    }

    &-pho {
      width: 60%;
    }
  }

  .projects__description-big {
    padding: 0 20vw;
  }
}

@keyframes changeColor {
  0% {
    background-color: rgb(255, 176, 176);
  }
  25% {
    background-color: aqua;
  }
  50% {
    background-color: rgb(251, 255, 11);
  }
  75% {
    background-color: rgb(90, 255, 145);
  }
  100% {
    background-color: rgb(255, 138, 96);
  }
}
