.projects {
  &__cards {
    display: grid;
    width: 100%;

    grid-template-rows: repeat(2, minmax(60vh, 1fr));
    grid-template-columns: repeat(auto-fill, minmax(50vh, 1fr));

    grid-auto-rows: minmax(60vh, 1fr);
    transition: all 0.3s ease-in-out;

    & p {
      margin: 0;
    }

    &-all {
      transition: all 0.5s ease-in-out;
      padding: 4vh 0;
    }

    &-all:hover .projects__description,
    &-all:hover &-pho,
    &-all:hover &-title {
      transform: scale(1.05);
    }

    &-1 {
      background-color: #e8c3b9;

      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }

    &-2 {
      background-color: #224a54;
      color: rgb(233, 233, 233);
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }

    &-3 {
      background-color: #292929;
      color: rgb(233, 233, 233);
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }

    &-4 {
      background-color: #f3e9c6;

      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }

    &-title {
      font-weight: 800;
      font-size: 3rem !important;
      padding: 0;
      margin: 0;
      margin-top: 2vh;
      transition: all 0.5s ease-in-out;
    }

    // reference https://css-tricks.com/zooming-background-images/
    &-pho {
      width: 78%;
      height: 30vh;
      transition: all 0.5s;
      // to hide the edge
      overflow: hidden;

      &to {
        height: 100%;
        width: 100%;
        background-size: cover;
        background-repeat: no-repeat;
        -webkit-transition: all 0.5s ease-in-out;
        -moz-transition: all 0.5s ease-in-out;
        -o-transition: all 0.5s ease-in-out;
        transition: all 0.5s ease-in-out;
        // background-color: black;
        background-position: center;
        &-1 {
          background-image: url("../img/furnique-2.png");
        }

        &-2 {
          background-image: url("../img/foodhub.png");
        }

        &-3 {
          background-image: url("../img/i-feel-like.png");
        }

        &-4 {
          background-image: url("../img/tic-tac-toe.png");
        }

        &-link {
          font-size: 3rem !important;
          padding: 0 4vw !important;
          display: none;
          font-size: 35px;
          color: #ffffff;
          text-align: center;
          margin: auto;
          position: absolute;
          top: 0;
          left: 0;
          bottom: 0;
          right: 0;
          height: 50px;
          cursor: pointer;
          text-decoration: none;
          transition: all 0.3s ease-in-out;
        }

        &-link:hover {
          transform: none !important;
        }
      }
      &to:hover {
        transform: scale(1.1);
      }

      &to:hover a,
      &to:focus a {
        display: block;
      }

      &to:before {
        content: "";
        display: none;
        height: 100%;
        width: 100%;
        position: absolute;
        top: 0;
        left: 0;
        background-color: rgba(61, 61, 61, 0.911);
      }
    }

    &-pho:hover .projects__cards-photo:before,
    &-pho:focus .projects__cards-photo:before {
      display: block;
    }
  }

  &__btn {
    display: flex;
    align-content: space-around;
    justify-content: space-around;
    flex-direction: row;
    align-items: center;
    margin: 0.5rem;
  }

  &__btn-demo {
    border-radius: 5rem;
    padding: 1rem 1.5rem;
    background-color: rgb(253, 132, 18);
    color: white;
    border: none;
    margin: 0.5rem;
  }

  &__btn-demo:hover {
    transition: all 0.3s ease-in-out;
    background-color: rgb(255, 164, 28);
  }

  &__btn-git {
    border-radius: 5rem;
    padding: 1rem 1.5rem;
    background-color: rgb(54, 51, 51);
    color: white;
    border: none;
    margin: 0.5rem;
  }

  &__btn-git:hover {
    transition: all 0.3s ease-in-out;
    background-color: rgb(71, 69, 69);
  }

  &__description {
    text-align: left;
    margin: 0;
    padding: 0 10%;
    text-align: center;
    // min-height: 25rem;
    transition: all 0.5s ease-in-out;
  }
}

// #recent_project {
//   width: 100vh;
// }
