.technologies {
  background-color: #fff3ce;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;

  // &:hover &__icon {
  //   transform: scale(1.02);
  // }

  &__icon {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    // width: 70%;
    // flex: 1 0 20%;
    padding: 10%;
    transition: all 0.5s ease-in-out;

    &-tech {
      height: 4rem;
      // width: 12rem;
      margin: 0.8rem;

      flex: 1 1 10%;
    }

    &-tool {
      height: 5rem;
      width: 12rem;
      margin: 1rem;
      flex: 0 1 20%;
      justify-self: center;
    }
  }
}
