@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400&family=Roboto+Slab&display=swap");

/* font-family: 'Poppins', sans-serif;
font-family: 'Roboto Slab', serif; */

* {
  box-sizing: border-box;
}

html {
  box-sizing: border-box;
  font-size: 62.5%; // 10px/16px = 62.5% -> 1rem = 10px
  scroll-behavior: smooth;
}

.container {
  //   background-color: pink;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  font-size: 1.9rem;
  font-family: "Poppins", sans-serif;
}

hr {
  // height: 100px;
  // width: 150rem;
  margin: 2rem;
}

.hr-weird {
  width: 20rem;
}

.navigator {
  background-color: rgb(44, 43, 43);
  padding: 0.5rem 0;
  text-align: center;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  position: fixed;
  top: 0;
  transition: top 0.4s;

  z-index: 100;

  &__logo {
    height: 6rem;
  }

  &__link {
    color: #fff;
    margin: 0 1rem;
    text-decoration: none;
  }
}

.footer-nav__wrap {
  &-icon {
    height: 3rem;
    margin: 1rem 2rem;
    fill: white;
  }

  &-icon:hover {
    transition: 0.3s;
    height: 3.2rem;
  }
}

.scrolling-box {
  display: block;
  overflow-y: scroll;
  // scroll-behavior: smooth;
  text-align: center;
  width: 100%;

  flex: 1 0 100%;

  &__section {
    display: flex;
    align-items: center;
    justify-content: center;
    overflow-y: scroll;

    min-height: 80vh;
    padding: 8.5rem;
  }
}

.home {
  // background-color: rgb(190, 119, 37);
  background-image: url(../img/about.png);
  // linear-gradient(rgba(121, 67, 82, 0.6));
  background-size: 100%;
  background-position: left;
  background-repeat: no-repeat;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
  color: rgb(26, 26, 26);
  min-height: 95vh;

  &__photo {
    height: 50vh;
  }

  &__mai {
    text-align: left;
    margin: 5rem;

    &-name {
      font-size: 6rem;
      text-transform: uppercase;
    }

    &-location {
      display: flex;
      // justify-content: center;
      align-items: center;
      // flex-wrap: wrap;

      &-icon {
        height: 3rem;
      }
    }
  }
}

.about {
  background-color: rgb(236, 236, 235);
  min-height: 85vh;
  padding: auto 5vh;
  &__mai {
    padding: 2vh;
    margin: 2vh;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }

  &__mai-story {
    text-align: left;
  }
}

.projects {
  background-color: rgb(70, 69, 69);
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: stretch;
  align-content: space-around;
  flex-direction: row;
  min-height: 100vh;
  color: rgb(229, 226, 226);

  border: rgb(34, 34, 34);

  &__card {
    display: flex;
    flex-wrap: wrap;
    padding: 1rem;
    justify-content: space-around;
    align-content: center;
    align-items: center;
    flex-direction: column;
    flex: 0 1 46%;

    max-width: 100%;
    border: 2px solid rgba(255, 255, 255, 0.212);
    border-radius: 2%;
    margin: 2rem;
    padding: 2rem 2rem;
    background-color: rgb(233, 230, 230);
    color: rgb(36, 36, 36);

    &-title {
      font-weight: 800;
      font-size: 2.5rem;
      color: rgb(168, 94, 10);
    }

    &-photo {
      max-width: 98%;
    }

    &-photo:hover {
      transition: 0.3s;
      opacity: 0.8;
      // width: 100%;
    }
  }

  &__btn {
    display: flex;
    align-content: space-around;
    justify-content: space-around;
    flex-direction: row;
    align-items: center;
    margin: 0.5rem;
  }

  &__btn-demo {
    border-radius: 5rem;
    padding: 1rem 1.5rem;
    background-color: rgb(253, 132, 18);
    color: white;
    border: none;
    margin: 0.5rem;
  }

  &__btn-demo:hover {
    transition: 0.3s;
    background-color: rgb(255, 164, 28);
  }

  &__btn-git {
    border-radius: 5rem;
    padding: 1rem 1.5rem;
    background-color: rgb(54, 51, 51);
    color: white;
    border: none;
    margin: 0.5rem;
  }

  &__btn-git:hover {
    transition: 0.3s;
    background-color: rgb(71, 69, 69);
  }

  &__description {
    text-align: left;
    margin-top: 0;
    padding-top: 0;
  }
}

#recent_project {
  width: 100vh;
}

.technologies {
  background-color: rgb(255, 253, 253);
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  // align-content: center;
  // justify-content: center;

  &__title {
    text-transform: uppercase;
    font-size: 4rem;
    margin: 2rem;
    // margin-top: 0.7rem;
    // width: 100vh;
  }

  &__icon {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 70%;
    // flex: 1 0 20%;

    &-tech {
      height: 5rem;
      width: 12rem;
      margin: 1rem;

      flex: 1 1 20%;
    }

    &-tool {
      height: 5rem;
      width: 12rem;
      margin: 1rem;
      flex: 0 1 20%;
      justify-self: center;
    }
  }
}

.footer {
  height: 20vh;
  width: 100%;
  background-color: rgb(216, 165, 165);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex: 1 1 20%;

  &__text {
    width: 100vh;
    text-align: center;
  }

  &__contact {
    width: 100%;
  }

  &__wrap {
    display: flex;

    // flex: 1 1 20%;
    &-icon {
      height: 5rem;
      margin: 2rem 5rem;
    }

    &-icon:hover {
      transition: 0.3s;
      height: 5.4rem;
    }
  }
}
