@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400&family=Roboto+Slab&display=swap");

/* font-family: 'Poppins', sans-serif;
font-family: 'Roboto Slab', serif; */

* {
  box-sizing: border-box;
}

html {
  box-sizing: border-box;
  font-size: 62.5%; // 10px/16px = 62.5% -> 1rem = 10px
}

.container {
  background-color: pink;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  font-size: 2rem;
  font-family: "Poppins", sans-serif;
}

.navigator {
  background-color: rgb(34, 34, 34);
  padding: 1rem 0;
  text-align: center;
  width: 100%;
  display: flex;
  align-content: center;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;

  &__logo {
    height: 6rem;
  }

  &__link {
    color: #fff;
    margin: 0 1rem;
    text-decoration: none;
  }
}

.scrolling-box {
  display: block;
  overflow-y: scroll;
  scroll-behavior: smooth;
  text-align: center;
  width: 90%;

  flex: 1 0 100%;

  &__section {
    display: flex;
    align-items: center;
    justify-content: center;

    min-height: 80vh;
    padding: 8.5rem;
  }
}

.home {
  background-color: burlywood;
  /* background-image: url(../img/mai.jpeg);
    background-size: 35%;
    background-position: left;
    background-repeat: no-repeat; */
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;

  &__photo {
    height: 50vh;
  }

  &__mai {
    text-align: left;
    margin: 5rem;

    &-name {
      font-size: 6rem;
      text-transform: uppercase;
    }

    &-title {
    }

    &-location {
      display: flex;
      // justify-content: center;
      align-items: center;
      // flex-wrap: wrap;

      &-icon {
        height: 3rem;
      }
    }
  }
}

.about {
  background-color: antiquewhite;

  &__mai {
    padding: 10%;
  }

  &__mai-story {
    text-align: left;
  }
}

.projects {
  background-color: lightblue;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: stretch;
  align-content: space-around;
  flex-direction: column;
  min-height: 100vh;

  border: rgb(34, 34, 34);

  &__card {
    display: flex;
    justify-content: space-around;
    align-content: center;
    align-items: center;
    flex-direction: column;
    flex: 0 0 20%;
    &-photo {
      width: 60rem;
    }

    &-photo:hover {
      opacity: 0.8;
    }
  }

  &__btn {
    display: flex;
    align-content: space-around;
    justify-content: space-around;
    align-items: center;
    margin: 1rem;
  }

  &__btn-demo {
    border-radius: 0.8rem;
    padding: 1rem 1.5rem;
    background-color: rgb(212, 120, 33);
    color: white;
    border: none;
    margin: 1rem;
  }

  &__btn-demo:hover {
    background-color: rgb(247, 160, 79);
  }

  &__btn-git {
    border-radius: 0.8rem;
    padding: 1rem 1.5rem;
    background-color: rgb(54, 51, 51);
    color: white;
    border: none;
    margin: 1rem;
  }

  &__btn-git:hover {
    background-color: rgb(71, 69, 69);
  }
}

.technologies {
  background-color: lightcoral;
  display: flex;
  flex-direction: column;
  // align-content: center;
  // justify-content: center;

  &__title {
    text-transform: uppercase;
    font-size: 3rem;
  }

  &__icon {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 70%;

    &-tech {
      height: 5rem;
      width: 12rem;
      margin: 1rem;
      flex: 0 0 20%;
    }

    &-tool {
      height: 5rem;
      width: 12rem;
      margin: 1rem;
      flex: 0 0 20%;
      justify-self: center;
    }
  }
}

.footer {
  height: 20vh;
  width: 100%;
  background-color: rgb(34, 34, 34);
  display: flex;
  justify-content: center;
  &__icon {
    height: 4rem;
    margin: 5rem;
    fill: white;
  }

  &__icon:hover {
    height: 4.4rem;
  }
}
